.regText {
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  letter-spacing: 0.2px !important;
  line-height: 22px !important;
}


.boldText{
  font-weight: bold !important;
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 17px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  display: inline !important;
}

.roomType {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 700 !important;
  display: inline !important;
}

.hostImg {
  border-radius: 50%;
  float: right;
  height: 10%;
  width: 10%;
}

.left{
  float: left;
}

.icons{
  float: left;
}